@model ThucHanhLW2.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul class="course">
    @foreach (var course in Model.UpComingCourses)
    {
    <li>
        <div class="date">
            <div class="month">
                @course.DateTime.ToString("MM")
            </div>
            <div class="day">
                @course.DateTime.ToString("dd")
            </div>
        </div>
        <div class="details">
            <div class="lecturer">
                @course.Lecturer.Name
                @if (Model.ShowAction)
                {
                    <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                }
            </div>
            <div class="category">
                @course.Category.Name
            </div>
            @if (Model.ShowAction)
            {
                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
            }
        </div>
    </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(() => {
            CourseController.init();
            FollowController.init();
        });
    </script>
}