@model ThucHanhLW2.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tìm kiếm</h2>

<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "ALL", new { @class = "form-control" })
            </div>
            <div class="col-md-5">
                <input type="search" class="form-control" name="query" placeholder="Tên giảng viên" />
            </div>
            <div class="col-md-4">
                <input type="search" class="form-control" name="startDate" placeholder="Ngày bắt đầu học" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-danger">
                    Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>

<ul class="course">
    @foreach (var course in Model.UpComingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <div class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                    }
                </div>
                <div class="category">
                    @course.Category.Name
                </div>
                @if (Model.ShowAction)
                {
                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                }
                @Html.ActionLink("Chi tiết khóa học", "Details", "Home", new { id = course.Id }, new { @class = "" })
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(() => {
            CourseController.init();
            FollowController.init();
        });
    </script>
}