@model IEnumerable<ThucHanhLW2.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Khóa học của tôi</h2>

<ul class="course">
@foreach (var item in Model) {
    <li>
        <div class="date">
            <div class="month">
                @item.DateTime.ToString("MM")
            </div>
            <div class="day">
                @item.DateTime.ToString("dd")
            </div>
        </div>
        <div class="details">
            <div class="lecturer">
                @item.Lecturer.Name
            </div>
            <div class="category">
                @item.Category.Name
            </div>
        </div>
        <div class="action">
            <a href="@Url.Action("Edit", "Courses", new { id = item.Id })">Edit</a> |
            <a href="#" class="js-cancel-course" data-course-id="@item.Id">Cancel</a> |
            @Html.ActionLink("Chi tiết khóa học", "Details", "Home", new { id = item.Id }, new { @class = "" })
        </div>
    </li>
}
</ul>
@section scripts
{
    <script>
        $(document).ready(() => {
            CourseController.initMine();
        });
    </script>
}